$background-colour: #001b41;
$theme-colour: #3f8efc;
$bright-theme-colour: #7daced;
$dark-highlight-colour: #331832;
$bright-highlight-colour: #af74ad;
$text-colour: #fffaff;
$income-colour: #52796f;
$income-border-colour: #42625a;
$expenses-colour: #64526f;
$expenses-border-colour: #4e4156;

$button-colour: #b7ceee;
$button-hover-colour: #7490b7;
$button-click-colour: #485a74;
$button-click-font-colour: #ffffff;

$delete-colour: #75007f;
$delete-hover-colour: #3d0043;
