body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    height: 100vh;
    background-color: #001b41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
